# Supabase Configuration
VITE_SUPABASE_URL=https://domzxwzidventnxpasof.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvbXp4d3ppZHZlbnRueHBhc29mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MjMxNzQsImV4cCI6MjA4NzQ5OTE3NH0.f6SRJyG7jzWWIwJVKn5so6-MyJX_5Fi6F4iITnM9Zcw
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_MXqXj5yMfx8k-5doPqD-Nw_ZmXWhjPO

# Firebase Configuration (Legacy)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=hance-portfolio-3f5ee
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=959516221086
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
